{% extends 'layouts/base.html' %}
{% block content %}
<main class="container">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Tasks Complete</h1>
            <ul class="list-group">
                {% for task in tasks_complete %}
                <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                    <header class="d-flex justify-content-between">
                        {% if task.important %}
                        <h2 class="fw-bold text-success">{{task.title}}</h2>
                        {% else %}
                        <h2 class="fw-bold">{{task.title}}</h2>
                        {% endif %}
                        <p>{{task.user.username}}</p>
                    </header>
                    <p>Created: {{task.created|date:'M j Y'}}</p>
                    <p>Completed: {{task.datecompleted|date:'M j Y'}}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Tasks Incomplete</h1>
            <ul class="list-group">
                {% for task in tasks_incomplete %}
                <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                    <header class="d-flex justify-content-between">
                        {% if task.important %}
                        <h2 class="fw-bold text-success">{{task.title}}</h2>
                        {% else %}
                        <h2 class="fw-bold">{{task.title}}</h2>
                        {% endif %}
                        <p>{{task.user.username}}</p>
                    </header>
                    <p>Created: {{task.created|date:'M j Y'}}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
{% endblock %}